@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 55px 0px 0px 0px;
}
.header__logo {
  margin: -14px 0px 0px 0px;
}
.header__link {
  display: inline-block;
}
.header__button a {
  justify-content: flex-end;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 12.5px 32.5px;
  background: #1D1D1B;
  border-radius: 40px;
  transition: 0.8s;
}
.header__button a:hover {
  outline: 1px solid #1D1D1B;
  color: #1D1D1B;
  background: none;
}
.header__button a:active {
  background: #1D1D1B;
  color: #FFFFFF;
  opacity: 0.5;
}

.menu__nav {
  display: block;
}
.menu__list {
  display: flex;
}
.menu__item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0px 60px 0px 0px;
  padding: 2px 4px;
  position: relative;
  transition: 0.6s;
}
.menu__item a:hover {
  color: #FFFFFF;
}
.menu__item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.6s;
  z-index: -1;
}
.menu__item a:hover::before {
  transform: scaleY(1.5);
  opacity: 1;
}
.menu__item a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  transform: scale(0);
  transition: 0.6s;
  z-index: -1;
}
.menu__item a:hover::after {
  transform: scale(1);
}

.main__container {
  display: flex;
}
.main__body {
  margin: 250px 0px 0px 0px;
}
.main__top-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ACACAC;
  margin: 0px 0px 20px 0px;
}
.main__main-text {
  margin: 0px 0px 36px 0px;
  font-weight: 700;
  font-size: 68px;
  line-height: 84px;
  letter-spacing: 2px;
  color: rgba(29, 29, 27, 0.85);
}
.main__subtext {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #1D1D1B;
  margin: 0px 0px 44px 0px;
  max-width: 386px;
}
.main__img {
  position: relative;
  margin: 220px 30px 0px 0px;
}

.button a {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 17px 40.5px;
  background: #1D1D1B;
  border-radius: 60px;
  transition: all 0.6s linear;
}
.button a:hover {
  outline: 1px solid #1D1D1B;
  color: #1D1D1B;
  background: transparent;
}
.button a:active {
  background: #1D1D1B;
  opacity: 0.5;
  color: #FFFFFF;
}

.vector__vector1 {
  position: absolute;
  bottom: 0;
  left: 70PX;
  width: 70px;
  height: 504px;
  z-index: 100;
  background: transparent;
  border-top: 70px solid #FAFAFA;
  border-right: 10px solid #FAFAFA;
  -webkit-animation: pianob 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
          animation: pianob 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}
.vector__vector2 {
  position: absolute;
  top: 0;
  left: 140px;
  width: 70px;
  height: 504px;
  z-index: 100;
  background: transparent;
  border-bottom: 70px solid #FAFAFA;
  border-right: 10px solid #FAFAFA;
  -webkit-animation: piano 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
          animation: piano 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}
.vector__vector3 {
  position: absolute;
  bottom: 0;
  left: 210px;
  width: 70px;
  height: 504px;
  z-index: 100;
  background: transparent;
  border-top: 70px solid #FAFAFA;
  border-right: 10px solid #FAFAFA;
  -webkit-animation: pianob 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
          animation: pianob 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}
.vector__vector4 {
  position: absolute;
  top: 0;
  left: 280px;
  width: 70px;
  height: 504px;
  z-index: 100;
  background: transparent;
  border-bottom: 70px solid #FAFAFA;
  border-right: 10px solid #FAFAFA;
  -webkit-animation: piano 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
          animation: piano 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}
.vector__vector5 {
  position: absolute;
  bottom: 0;
  right: 70px;
  width: 70px;
  height: 504px;
  z-index: 100;
  background: transparent;
  border-top: 70px solid #FAFAFA;
  -webkit-animation: pianob 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
          animation: pianob 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}

.img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 504px;
  z-index: 10;
  background: transparent;
  border-left: 10px solid #FAFAFA;
  border-bottom: 70px solid #FAFAFA;
  -webkit-animation: piano 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
          animation: piano 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}
.img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 504px;
  z-index: 10;
  background: transparent;
  border-right: 10px solid #FAFAFA;
  border-bottom: 70px solid #FAFAFA;
  -webkit-animation: piano 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
          animation: piano 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}

@-webkit-keyframes piano {
  0% {
    border-top: 70px solid #FAFAFA;
    border-bottom: 0px solid #FAFAFA;
  }
  100% {
    border-bottom: 70px solid #FAFAFA;
    border-top: 0px solid #FAFAFA;
  }
}

@keyframes piano {
  0% {
    border-top: 70px solid #FAFAFA;
    border-bottom: 0px solid #FAFAFA;
  }
  100% {
    border-bottom: 70px solid #FAFAFA;
    border-top: 0px solid #FAFAFA;
  }
}
@-webkit-keyframes pianob {
  0% {
    border-top: 0px solid #FAFAFA;
    border-bottom: 70px solid #FAFAFA;
  }
  100% {
    border-bottom: 0px solid #FAFAFA;
    border-top: 70px solid #FAFAFA;
  }
}
@keyframes pianob {
  0% {
    border-top: 0px solid #FAFAFA;
    border-bottom: 70px solid #FAFAFA;
  }
  100% {
    border-bottom: 0px solid #FAFAFA;
    border-top: 70px solid #FAFAFA;
  }
}
.about__img {
  position: relative;
  width: 480px;
  margin: 0px 0px 0px 30px;
}

.about {
  margin: 327px 0px 0px 0px;
}
.about__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__body {
  margin: 0px 0px 0px 90px;
}
.about__title {
  margin: 0px 0px 26px 0px;
}
.about__text:not(:last-child) {
  margin-bottom: 44px;
}
.about__button {
  margin: 44px 0px 0px 0px;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 0.01em;
  color: rgba(29, 29, 27, 0.85);
}

.text {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}

.lessons__body {
  margin: 150px 0px;
}
.lessons__title {
  text-align: center;
  margin: 0px 0px 50px 0px;
}
.lessons__content {
  display: flex;
  justify-content: space-between;
}

.content__block {
  width: 380px;
  max-height: 520px;
  background: #FFFFFF;
  border-radius: 50px;
  transition: 0.5s;
}
.content__block:hover {
  filter: drop-shadow(5px 15px 20px rgba(0, 0, 0, 0.07));
}
.content__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 30px 125px;
}
.content__list {
  margin: 0 40px 32px 40px;
}
.content__item {
  position: relative;
}
.content__item:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.content__item:not(:last-child)::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
}
.content__button a {
  display: inline-block;
  margin: 0px 0px 30px 0px;
  padding: 17px 71px;
}
.content__button {
  text-align: center;
}

.t {
  background: url("../img/True.svg") 100% 50% no-repeat;
}

.f {
  background: url("../img/False.svg") 100% 50% no-repeat;
}

.faq__body {
  margin: 150px 0px 0px 0px;
}
.faq__title {
  text-align: center;
}
.faq__content {
  margin: 50px 0 0 0;
}
.faq__block {
  background: #FFFFFF;
  border-radius: 30px;
  padding: 38px 50px;
  cursor: pointer;
}
.faq__block.active .faq__answer {
  max-height: 300px;
  padding: 42px 0px 0px 0px;
}
.faq__block.active .faq__plus::after {
  content: "";
  transform: rotate(90deg);
}
.faq__block:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq__sentence {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.01em;
  color: #000000;
}
.faq__plus {
  position: relative;
  height: 26px;
  width: 26px;
}
.faq__plus::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  height: 2px;
  width: 100%;
  background: #0B1C3F;
  z-index: 2;
}
.faq__plus::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 0;
  height: 100%;
  width: 2px;
  background: #0B1C3F;
  z-index: 0;
  transition: all 0.8s ease;
}
.faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease;
}

.contact__container {
  width: 1080px;
}
.contact__body {
  margin: 150px 0px 0px 0px;
}
.contact__title {
  text-align: center;
  margin: 0px 0px 50px 0px;
}
.contact__content {
  display: flex;
  justify-content: space-between;
}
.form__name {
  margin: 0px 0px 35px 0px;
}
.form__name input {
  width: 480px;
  height: 64px;
}
.form__name input::-moz-placeholder {
  content: "";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
  padding: 0px 0px 0px 30px;
}
.form__name input:-ms-input-placeholder {
  content: "";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
  padding: 0px 0px 0px 30px;
}
.form__name input::placeholder {
  content: "";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
  padding: 0px 0px 0px 30px;
}
.form__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: #1D1D1B;
  margin: 0px 0px 15px 0px;
}
.form__send {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 17px 69px;
  background: #1D1D1B;
  overflow: hidden;
  position: relative;
}
.form__send::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10;
  transition: all 0.8s;
}
.form__send:hover::before {
  left: 100%;
}

.biginput {
  width: 480px;
  height: 140px;
}
.biginput::-moz-placeholder {
  padding: 22px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
}
.biginput:-ms-input-placeholder {
  padding: 22px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
}
.biginput::placeholder {
  padding: 22px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
}

.piano__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: #1D1D1B;
  text-align: center;
  margin: 0px 0px 50px 0px;
}
.piano__keys {
  position: relative;
  display: flex;
}
.piano__white-key {
  margin: 0px 0px 15px 0px;
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 380px;
  background: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.01em;
  color: rgba(29, 29, 27, 0.3490196078);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.piano__white-key.active {
  background: rgba(0, 0, 0, 0.349);
}
.piano__white-key:not(:last-child) {
  margin: 0px 5px 0px 0px;
}
.piano__black-key {
  cursor: pointer;
  position: absolute;
  height: 200px;
  width: 40px;
  background: #000;
  z-index: 5;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.514);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.piano__black-key:nth-child(1) {
  top: 0;
  left: 42.47px;
}

.black_1 {
  top: 0;
  left: 42.47px;
}
.black_2 {
  top: 0;
  left: 107.5px;
}
.black_3 {
  right: 172.52px;
}
.black_4 {
  right: 107.48px;
}
.black_5 {
  right: 42.46px;
}

.songs__body {
  max-width: 980px;
  margin: 0 auto;
}
.songs__title {
  text-align: center;
  margin: 0px 0px 50px 0px;
}
.songs__content {
  display: flex;
  justify-content: space-between;
}
.songs__player {
  height: 460px;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 45px;
  filter: drop-shadow(5px 15px 20px rgba(0, 0, 0, 0.07));
}
.songs__album {
  position: relative;
  margin: 30px 30px 20px 30px;
}
.songs__album img:first-child {
  border-radius: 35px;
}
.songs__album::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  border-radius: 35px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 72.92%, rgba(0, 0, 0, 0.6) 100%);
}
.songs__vector-like {
  position: absolute;
  display: inline-block;
  top: 24px;
  right: 24px;
  width: 48px;
  height: 48px;
  padding: 12px;
  background: #fff;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
}
.songs__name {
  position: absolute;
  z-index: 10;
  left: 23px;
  bottom: 22px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.songs__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.songs__settings-sound {
  cursor: pointer;
  padding: 10px;
}
.songs__back {
  margin: 0px 0px 0px 28px;
  cursor: pointer;
}
.songs__play {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #1D1D1B;
  margin: 0 24px;
  cursor: pointer;
}
.songs__next {
  margin: 0px 28px 0px 0px;
  cursor: pointer;
}
.songs__menu {
  cursor: pointer;
  padding: 10px;
}

.songs__musics {
  width: 580px;
  height: 460px;
}
.songs__item {
  display: flex;
  background: #FFFFFF;
  justify-content: space-between;
}
.songs__item:first-child {
  border-radius: 45px 45px 0px 0px;
}
.songs__item:last-child {
  border-radius: 0px 0px 45px 45px;
}
.songs__itemb {
  background: #1D1D1B;
}
.songs__nam {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: #1D1D1B;
  padding: 43px 0 43px 50px;
}
.songs__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.songs__like {
  cursor: pointer;
  padding: 5px;
}

._icon-like {
  font-size: 18px;
  font-weight: 800;
}

._icon-Play {
  display: block;
  background: #1D1D1B;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  font-size: 10px;
  margin: 0 24px;
}

._icon-download {
  font-size: 18px;
  margin: 0px 50px 0px 0px;
}

.w {
  color: #fff;
}

.b {
  display: block;
  background: white;
  color: #000;
}

.teachers__body {
  margin: 150px 0px 0px 0px;
}
.teachers__title {
  text-align: center;
  margin: 0px 0px 50px 0px;
}
.teachers__content {
  display: flex;
  justify-content: space-between;
}
.teachers__teacher {
  background: #FFFFFF;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teachers__photo {
  margin: 30px 30px 22px 30px;
  width: 320px;
  height: 320px;
}
.teachers__name {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #1D1D1B;
}
.teachers__text {
  text-align: center;
  max-width: 300px;
  margin: 12px 0px 0px 0px;
}
.teachers__button {
  margin: 26px 0 28px 0;
}
.teachers__button a {
  padding: 17px 80px;
}

.reviews__body {
  margin: 150px 0px 0px 0px;
}
.reviews__title {
  text-align: center;
  margin: 0px 0px 50px 0px;
}
.reviews__content {
  display: flex;
  justify-content: space-between;
}
.reviews__comment {
  max-width: 380px;
  max-height: 300px;
  background: #FFFFFF;
  border-radius: 50px;
}
.reviews__owner {
  display: flex;
  align-items: center;
  margin: 30px 0px 0px 0px;
}
.reviews__avatar {
  margin: 0px 0px 0px 20px;
}
.reviews__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: #000000;
  flex: 1 0 auto;
  margin: 0px 0px 0px 9px;
}
.reviews__grade {
  margin: 0px 25px 0px 0px;
}
.reviews__text {
  margin: 14px 22px 15px 20px;
  color: #000000;
}
.reviews__data {
  color: #000000;
  margin: 0px 35.2px 25px 0px;
  display: flex;
  justify-content: flex-end;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.call {
  position: relative;
}
.call__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.call__body {
  position: relative;
  z-index: 2;
  padding: 42px 0 48px 0;
  margin: 150px 0px 0px 0px;
}
.call__title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: 1px;
}
.call__text {
  color: #fff;
  text-align: center;
  max-width: 530px;
  display: block;
  margin: 20px auto 30px auto;
}
.call__gmail {
  text-align: center;
}
.call__input button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background: #000;
  padding: 17px 69px;
  margin: 0px 0px 0px 20px;
  transition: all 0.8s;
  position: relative;
  overflow: hidden;
}
.call__input button::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10;
  transition: all 0.8s;
}
.call__input button:hover::before {
  left: 100%;
}
.call__input input {
  height: 54px;
  width: 380px;
}
.call__input input::-moz-placeholder {
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
  padding: 0px 0px 0px 30px;
}
.call__input input:-ms-input-placeholder {
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
  padding: 0px 0px 0px 30px;
}
.call__input input::placeholder {
  line-height: 20px;
  color: rgba(0, 0, 0, 0.4);
  padding: 0px 0px 0px 30px;
}

.app__body {
  display: flex;
  justify-content: space-between;
  margin: 160px 0px 0px 0px;
}
.app__view {
  position: relative;
  flex: 0 0 50%;
}
.app__phone {
  position: relative;
  z-index: 2;
}
.app__phone:nth-child(2) {
  position: relative;
  top: -41px;
  left: 182px;
  z-index: 10;
}
.app__shadow {
  position: relative;
  z-index: 2;
  margin: 60px 0px 0px 120px;
}
.app__download {
  flex: 0 1 50%;
}

.back {
  position: absolute;
  top: 61px;
  left: 30px;
  width: 100%;
  height: 100%;
}

.download__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  letter-spacing: 0.01em;
  color: rgba(29, 29, 27, 0.85);
  text-align: center;
  margin: 0px 80px 53px 0px;
}
.download__devices {
  display: flex;
}
.download__store {
  background: #fff;
  border-radius: 20px;
  margin: 0px 40px 0px 0px;
}
.download__qr {
  padding: 28px 40px 18px 40px;
}
.download__button {
  text-align: center;
  padding: 0 0 19px 0;
}
.download__button img {
  display: inline-block;
}

.footer__body {
  margin: 150px 0px 0px 0px;
  padding: 47px 0 79px 0;
  display: flex;
  justify-content: space-between;
}
.footer__text {
  max-width: 200px;
  font-size: 14px;
  margin: 33px 0px 0px 0px;
}
.footer__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 11px 0px 28px 0px;
}
.footer__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  display: block;
  margin: 0px 0px 15px 0px;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__form {
  display: flex;
  flex-direction: column;
}
.footer__form input {
  width: 180px;
  height: 44px;
  background: #FFFFFF;
}
.footer__form input::-moz-placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-align: center;
}
.footer__form input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-align: center;
}
.footer__form input::placeholder {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-align: center;
}
.footer__form button {
  margin: 10px 0px 0px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 13.5px 71.5px;
  background: #000000;
  overflow: hidden;
  position: relative;
}
.footer__form button::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10;
  transition: all 0.8s;
}
.footer__form button:hover::before {
  left: 100%;
}

[class*=__container] {
  max-width: 1180px;
  margin: 0 auto;
}

body {
  background: #FAFAFA;
  font-family: Montserrat;
}